{% extends 'base.html.twig' %}
{% block title %}Rédiger PV{% endblock %}

{% block content %}
<div class="card" style="max-width: 800px; margin: 0 auto;">
    <div class="card-header">
        <h3 class="card-title">Procès-Verbal : {{ evenement.titre }}</h3>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.contenu, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.contenu) }}
                {{ form_errors(form.contenu) }}
            </div>
            <div class="mt-16">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-save"></i> Enregistrer le PV
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
